@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    @apply m-0 p-0 box-border scroll-smooth;
}

html {
    background: black;
    position: relative;
}

body {
    @apply w-full min-h-[100vh] text-white font-sans;
}

.bg-night-shift {
    background-color: #2b4162;
    background-image: linear-gradient(315deg, #2b4162 0%, #12100e 74%);
}

.bg-worker-day {
    background-color: #1b2845;
    background-image: linear-gradient(315deg, #1b2845 0%, #274060 74%);
}

.bg-night-club {
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.mask-gradient {
    mask-image:
            linear-gradient(to right, transparent 0, black 20%, black 80%, transparent 100%);
}

.rounded-mask {
    mask-image: radial-gradient(circle, black 0%, transparent 70%, transparent 100%);
}

@keyframes ghost {
    0% {
        transform: rotate(0deg) translate(10px) rotate(0deg);
    }
    50% {
        /*transform: rotate(180deg) translate(10px) rotate(-180deg);*/
        opacity: .5;
    }
    100% {
        transform: rotate(360deg) translate(10px) rotate(-360deg);
    }
}

.animate-ghost {
    animation: ghost 4s linear infinite;
}