@import "tailwindcss";

@keyframes ghost {
    0% {
        transform: rotate(0deg) translate(10px) rotate(0deg);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: rotate(360deg) translate(10px) rotate(-360deg);
    }
}

.animate-ghost {
    animation: ghost 4s linear infinite;
}

html,
body,
#root {
    position: relative;
    width: 100%;
    height: 100%;
}

html {
    background: #000;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
